<div class="form-container">
  <form [formGroup]="applyForm" class="password-form">
    <span class="validation-message" [ngClass]="validationBlocks[0]"  *ngIf="validationMessage">{{ validationMessage }}</span>
    <div class="form-group">
      <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password" maxlength="25" required>
    </div>
    <div class="validation-container">
      <div *ngFor="let color of validationBlocks" class="validation-block" [ngClass]="color"></div>
    </div>
    <button class="form-submit" type="submit">Submit</button>
  </form>
</div>
