.form-container{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: start;
    width: 100%;
    height: 200px;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 20px;
    border: 1px solid #6C63FF;
    border-radius: 5px;
    box-shadow: 0 0 10px #6C63FF;
}

.form-group{
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 20px;
  gap: 20px;
  width: 100%;
}

.form-group label{
  font-size: 2em;
  font-weight: bold;
  color: #F7F7F7;
}

.form-group input{
  width: 100%;
  max-width: 300px;
  padding: 5px;
  border: 1px solid #6C63FF;
  border-radius: 5px;
}

.form-submit{
  padding: 10px 20px;
  background-color: #6C63FF;
  border: #4841a6;
  border-radius: 5px;
  color: #F7F7F7;
  font-size: 25px;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}

.password-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-submit:hover{
  background: linear-gradient(to right bottom, #6C63FF, #F7F7F7);
  color: #252525;
  cursor: pointer;
}

.validation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  max-width: 150px;
  padding: 10px;
}

.validationItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.validation-block {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.gray {
  background-color: #cccccc;
  box-shadow: 2px 2px  #cccccc;
}

.red {
  background-color: #ff6666;
  box-shadow: 2px 2px #ff6666;
}

.yellow {
  background-color: #ffcc66;
  box-shadow: 2px 2px #ffcc66;
}

.green {
  background-color: #66cc66;
  box-shadow: 2px 2px #66cc66;
}

.validation-message {
  position: absolute;
  color: #F7F7F7;
  right: 20%;
  font-size: 12px;
}
